<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Сувенирный магазин РЖД</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <!--header area start-->
    <header th:insert="blocks/hea"> </header>
    <!--header area end-->


    <div th:insert="blocks/prod"></div>
</body>

</html>